<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>CALLING TO RAMUDU,RAMESH</h1>
        <h1>RINGING.......</h1>
        <h1>CALL LIFTED</h1>
        <h1>HLOOO EKKADA UNNARU RA</h1>
        <a href="{% url 'Ramudu' %}"><h2>Response from Ramudu</h2></a>
        <a href="{% url 'Ramesh' %}"><h2>Response from Ramesh</h2></a>
    </center>
</body>
</html>